# ignore all the large pdf bookfiles
material/

# ignore some .zip files whereever they are
**.zip

# pycache
*/*/__pycache__

# jupyter ntoebooks
**/.ipynb_checkpoints/

# lyx
Uebungsblaetter2018/#*.lyx#
Uebungsblaetter2018/*~

# cmake
**/build/

# vs code
**/.vscode/
